.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 50px;
  background-color: rgb(72, 217, 169);
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  border-top: 2px solid gray;
}
